.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 64px;
    max-height: calc(100dvh - 80px);

    &:has(canvas) {
        display: block;
        margin-left: 10px;
    }

    .main-hint {
        font-size: 24px;
    }
}
